.card-detailed {
	height: 100%;
	width: 80%;
	padding: 25px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: repeat(2, 1fr);
	grid-template-areas:
		'image info'
		'image price';
	grid-gap: 15px;
	position: relative;
	border: 1px solid blue;
}

.back-button {
	position: absolute;
	top: 2%;
	left: 2%;
}

.image-detailed {
	grid-area: image;
	width: 100%;
	height: auto;
	padding: 20px 25px;
}

.image-detailed img {
	width: 100%;
	height: auto;
}

.info-detailed {
	grid-area: info;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px 25px;
	border: 1px solid red;
}

.info-detailed h1 {
	word-break: break-word;
}

.price-area {
    grid-area: price;
    width: 200px;
    height: 100px;
	display: flex;
	flex-direction: column;
    justify-content: space-between;
	align-items: center;
	padding: 20px 25px;
}

.cart-block {
	width: 100%;
	height: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.qty-group {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

@media only screen and (max-width: 600px) {
	.card-detailed {
		grid-template-columns: 100%;
		grid-template-rows: fit-content(300px) 30% 20%;
		grid-template-areas:
			'info'
			'image'
			'price';
		justify-items: center;
		padding: 25px 0;
	}

	.image-detailed {
		height: 100%;
	}
	
	.image-detailed img {
		display: block;
		margin: 0 auto;
		height: 100%;
		max-height: 650px;
		width: auto;
	}

	.info-detailed {
		padding: 20px 0;
	}

	.info-detailed h1 {
		font-size: 1.5rem;
	}

	.back-button {
		top: 1%;
		left: 0;
	}

	.wl {
		top: 1%;
		right: 0;
	}
}