.body {
	height: 100%;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 8vh auto;
	grid-template-areas:
		'aside'
		'section';
}

.body > * {
	border: 1px solid blueviolet;
}

aside {
	grid-area: aside;
	/* padding: 20px; */
}

section {
	grid-area: section;
	padding: 20px;
}
